.fa-github {
  width: fit-content;
  position: absolute;

  cursor: pointer;
}

.fa-github svg {
  color: var(--cultured);
  transition: all 200ms ease-out;

  position: absolute;
  top: 14px;
  left: 14px;
}

.fa-github::before {
  display: block;
  transform: scale(1);
  content: " ";
  
  width: 60px;
  height: 60px;
  
  border-radius: 100%;
  background: linear-gradient(43deg, #eb6868 0%,
  rgb(255, 63, 63) 46%,rgba(237, 76, 61, 0.9) 100%);

  transition: all 200ms ease-out;
}

.fa-github:hover::before {
  transform: scale(0);
  transition: all 200ms ease-in;
}

.fa-github:hover svg {
  color: var(--imperial-red);
  transform: scale(1.8);
  transition: all 200ms ease-in;
}