@import url(@styles/commons.css);

.link-raised-button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: var(--imperial-red);
  box-shadow: rgba(var(--imperial-red-values), 0.6) 4px 4px 0px;

  border: none;
  border-radius: 6px;

  text-decoration: none;
  
  transition: transform 80ms, box-shadow 80ms;
}

.link-raised-button:hover {
  filter: brightness(var(--hover-brightness-base));
}

.link-raised-button:active {
  transform: translate(4px, 4px);
  box-shadow: rgba(var(--imperial-red-values), 0.6) 0px 0px 0px;
}