.scale-loader {
  display: flex;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 4px;
  height: 20px;
  
  background-color: rgba(var(--imperial-red-values), .4);
  
  border-radius: 10px;
  animation: scale-up 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: 250ms;
}

.bar:nth-child(3) {
  animation-delay: 500ms;
}

@keyframes scale-up {
  20% {
    background-color: var(--imperial-red);
    transform: scaleY(1.2);
  }
  40% {
    transform: scaleY(1);
  }
}