@import url(@styles/commons.css);

.connect {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.connect .fa-arrow-left {
  cursor: pointer;

  position: fixed;
  top: 15px;
  left: 20px;

  color: var(--imperial-red);
}

.connect .fa-arrow-left:hover {
  filter: brightness(var(--hover-brightness-base));
}

.connect main {
  width: clamp(420px, 40%, 500px);

  animation: enter-from-left 400ms ease forwards;
}

/***** Inputs *****/

.connect .inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  height: 100%;
}

.connect input {
  width: 100%;
}

input:not(:first-child) {
  margin-top: 8px;
}

/***** Fim Inputs *****/

.connect .minimalist-button {
  width: 100%;
  margin-top: 8px;
}

.tooltip {
  position: fixed;
}

.fa-circle-question {
  position: fixed;
  right: 20px;
  bottom: 20px;
  
  cursor: pointer;
}

.fa-circle-question:hover {
  filter: brightness(var(--hover-brightness-base));
}