@import url(@styles/commons.css);

#root {
  background-color: var(--rich-black-fogra);
  color: #fff;
}

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/***** Header *****/
.home header {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 70px;
  padding: 10px 20px;

  background-color: var(--rich-black-fogra);
  color: var(--cultured);
  border-bottom: 4px solid var(--cultured);
}

.home .app-name {
  color: var(--imperial-red);

  user-select: none;

  font-family: 'Orbitron';
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.home .app-name:hover {
  filter: brightness(120%);
}

.home #config-btn {
  margin-left: auto;
  cursor: pointer;
  color: var(--cultured);
}

.home #config-btn:hover {
  animation: slight-rotation 500ms ease-out;
  filter: brightness(var(--hover-brightness-base));
}
/***** Fim Header *****/

/***** Main *****/
.home main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.home .link-raised-button {
  width: 350px;
  height: 100px;

  font-size: 1.4rem;
  font-weight: bold;
  
  color: var(--cultured);

  padding: 20px;
  margin: 10px;

  animation: fade-in 300ms ease forwards;
}
/***** Fim Main *****/

.home .fa-github {
  bottom: 20px;
  right: 20px;
}

@keyframes slight-rotation {
  to {
    transform: rotate(180deg);
  }
}